<div class="card">
  <div class="card-body">
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input
          id="inputUsername"
          class="form-control"
          type="text"
          name="username"
          [(ngModel)]="username"
          required
          aria-describedby="usernameHelp"
        />
        <div id="usernameHelp" class="form-text">
          We'll never share your username with anyone else.
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          id="inputPassword"
          class="form-control"
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
